---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog Page"
---

<BaseLayout pageTitle={pageTitle} style="font-family: 'Courier New', Courier, monospace;">
        <h2>In this blog, I will write about my learning journey</h2>
        <p> Also, new coffee content will be here</p>
        <ul>
            <li>
                <a href="/posts/post-1/">My First Coffee Blog Post</a>
            </li>
            <li>
                <a href="/posts/post-2/">My Second Coffee Blog Post</a>
            </li>
            <li>
                <a href="/posts/post-3/">My Third Coffee Blog Post</a>
            </li>
        </ul>
    </BaseLayout>