---
---
<a href="/rss.xml" target="_blank" style="display:inline-flex;align-items:center;gap:8px;text-decoration:none;border:1px solid #ccc;padding:8px 12px;border-radius:8px;font-family:sans-serif;">
    <img src="../../public/images/rss-color-icon.svg" alt="RSS" width="24" height="24">
    <span>Suscríbete a mi blog</span>
  </a>